<table>
	<caption>Confirmados</caption>
	<thead>
		<td>País</td>
		<td>Cidade</td>
		<td>Confirmados</td>
		<td>Última Atualização</td>
	</thead>
	<tbody>
		<% @confirmed.each do |c| %>
			
			<tr>
				<td><%= c['countryRegion'] %></td>
				<td><%= c['provinceState'] %></td>
				<td><%= c['confirmed'] %></td>
				<td><%= Time.at(c['lastUpdate'].to_i/1000).strftime('%d/%m/%Y %H:%M:%S') %></td>
			</tr>

		<% end %>
	</tbody>
</table>