<table class="table table-striped">
	<caption>Por Dia</caption>
  <thead>
    <tr class="text-center">
      <th scope="col">Total Confirmado</th>
      <th scope="col">País: China</th>
      <th scope="col">País: Fora da China</th>
      <th scope="col">Última Atualização</th>
    </tr>
  </thead>
  <tbody>
  	<% @daily.each do |c| %>
			
			<tr class="text-center">
				<td><%= c['confirmed']['total'] %></td>
				<td><%= c['confirmed']['china'] %></td>
				<td><%= c['confirmed']['outsideChina'] %></td>
				<td><%= c['reportDate'] %></td>
			</tr>

	<% end %>
  </tbody>
</table>
