<div class="jumbotron">
  <h1 class="display-4">Dados Atualizados da COVID-19</h1>
  <p class="lead">Confirmados: <span class="confirmed"><%= @summary['confirmed']['value'] %></span></p>
  <p class="lead">Recuperados: <span class="recovered"><%= @summary['recovered']['value'] %></span></p>
  <p class="lead">Mortos: <span class="deaths"><%= @summary['deaths']['value'] %></span></p>
</div>
