<table class="table table-striped">
	<caption>Recuperados</caption>
  <thead>
    <tr class="text-center">
      <th scope="col">País</th>
      <th scope="col">Cidade</th>
      <th scope="col">Confirmados</th>
      <th scope="col">Última Atualização</th>
    </tr>
  </thead>
  <tbody>
  	<% @recovered.each do |r| %>
	    <tr class="text-center">
			<td><%= r['countryRegion'] %></td>
			<td><%= r['provinceState'] %></td>
			<td><%= r['confirmed'] %></td>
			<td><%= Time.at(r['lastUpdate'].to_i/1000).strftime('%d/%m/%Y %H:%M:%S') %></td>
		</tr>
	<% end %>
  </tbody>
</table>